# Originally copied from the default FrankenPHP CaddyFile in /etc/frankenphp/Caddyfile
# Source can be seen at https://github.com/php/frankenphp/blob/main/caddy/frankenphp/Caddyfile

# The Caddyfile is an easy way to configure FrankenPHP and the Caddy web server.
#
# https://frankenphp.dev/docs/config
# https://caddyserver.com/docs/caddyfile

{
    skip_install_trust
    auto_https off

    # `persist_config on` is needed to persist changes made via the API - which we do not allow for the moment
    persist_config off

    # only listen for http1 on the non-privileged port used by efault by Docker on tcp - no need for H2C
	servers :2375 {
	    name yadsp
		protocols h1
	}

    {$CADDY_EXTRA_GLOBAL_OPTIONS}

    frankenphp {
        # @todo check what happens if we set error_log / error_reporting
        php_ini display_errors Off
        php_ini display_startup_errors Off
        php_ini enable_dl Off
        php_ini expose_php Off
        php_ini file_uploads Off
        php_ini include_path .
        php_ini log_errors On
        php_ini short_open_tag Off

        {$FRANKENPHP_CONFIG}
    }
}

{$CADDY_EXTRA_CONFIG}

:2375 {
    root /app/public/

    # q: does the Docker client support http compression? If not, we can disable this
    encode zstd br gzip

    rewrite /favicon.ico /favicon.ico
    rewrite * /index.php

    header {
        -Server
        -X-Powered-By
    }

    {$CADDY_SITE_EXTRA_DIRECTIVES}

    php_server {
        # use `worker /app/public/index.php`
        {$CADDY_PHP_SERVER_DIRECTIVES}
    }
}

# Disabled for perf, as we don't mount such files

# As an alternative to editing the above site block, you can add your own site
# block files in the Caddyfile.d directory, and they will be included as long
# as they use the .caddyfile extension.
###import Caddyfile.d/*.caddyfile
